:root {
    --orange: #fe3c02;
    --blue:#43bece;
    --red:#eb0000;
    --light-orange-3:#ffece6;
    --grey:#b6c1c2;
    --light-grey-1:#dde7eb;
}
.light-grey-1{background-color:var(--light-grey-1);}
.text-orange{color: var(--orange);}

body {
    background-color: var(--light-orange-3);
}
.desktop-status{flex-grow: 0.2;}


/*Image Style*/
.renew-img{width: 1rem;}
.status-img{width: 2rem;}
.link-img{width: 1rem;}
.center-button-img{width: 3rem;}